        /*Reset*/
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/*Main Styling*/

/*Navigation*/
#navigation li {
    display: inline;
    margin-right: 25px;
    text-decoration: none;
}
#navigation a {
    text-decoration: none;
}
/*Utility Classes*/
.container {
   margin: auto;
   max-width: 960px;
   overflow: auto;
   background: orange;
   
}

.flt-lft {
    float: left;
}

/*Footer*/
