        /*Reset*/
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/*Main Styling*/


/*Navigation*/
#navigation {
    background-color: aqua;
}
#navigation li {
    display: inline;
    margin-right: 25px;
    text-decoration: none;
}
#navigation a {
    text-decoration: none;
}
/*Utility Classes*/
.container {
   margin: auto;
   max-width: 960px;
   overflow: auto;
   /*background: orange;*/
   
}

.flt-lft {
    float: left;
}
/* Header */
#header {
    background-color: green;
}
/*Footer*/
