#top{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#top .info{

}

#top .img{

}

#top .img .background-img{
    background: url("https://raw.githubusercontent.com/ktown5422/Savvy-Portfolio-Kevin-Townson/master/imgkevin.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 700px;
}